div.link-menu {
    position: absolute;
    top: 5px;
    left: 120px;
    width: 100;
    height: 140;
    border: 2px solid black;
}

div.menu {
    position: relative;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    display: none;
}

div.link-menu:hover div.menu {
    display: block;
}